.introduction{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  font-size: x-large;
  font-weight: 800;
}

.introduction-input {
  text-align: center
}

.introduction-input input {
  margin: auto;
  width: 300px;
}

.introduction-input button {
  margin-top: 10px;
}